@import 'tldraw/tldraw.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin: 0   ;
}
:root {
    --bs-dark-custom: #1a1a1a; 
    --bs-darker-custom: #121212; 
    --bs-primary-custom: #a8a5ff; 
    --bs-secondary-custom: #6c757d; 
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bs-darker-custom) !important;
    color: var(--bs-body-color); 
    
}
